@{
    ViewData["Title"] = "Home Page";
    var customerCount = ViewBag.NoOfcustomers;
    var bills = (IEnumerable<InventoryManagementCore.Models.Models.Bill>) ViewBag.bills;
    var billsCount = ViewBag.billsCount;
    var totalSales = ViewBag.totalSales;
    var products = (IEnumerable<InventoryManagementCore.Models.Models.Product>) ViewBag.Products;
    var productsCount = ViewBag.ProductCount;
    int tempProductCount = 0;
    int tempBillCount = 0;
}
<style>
    .borderMe{
        border:1px solid black;
    }
    .fb-1000
    {
        font-weight:300;
        font-size:2em;
    }
    .bg1 {
        /*background: linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);*/
        /*background: linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);*/
        /*background: linear-gradient(135deg, #17ead9 0%,#6078ea 100%);*/
        background: linear-gradient(135deg, #17ead9 0%,#7f95fa 100%);
    }
    .bg2 {
        /*background: linear-gradient(135deg, #FF57B9 0%,#A704FD 100%);*/
        /*background: linear-gradient(135deg, #65799b 0%,#5e2563 100%);*/
        /*background: linear-gradient(135deg, #622774 0%,#c53364 100%);*/
        /*background: linear-gradient(135deg, #7117ea 0%,#ea6060 100%);*/
        background: linear-gradient(135deg, #184e68 0%,#57ca85 100%);
    }
    .bg3 {
        background: linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);
    }
</style>
<div class="">
    <div class="col">
        <div class="row">
            <div class="col-4 " style="display:flex;justify-content:center;align-content:center">
                <div class="shadow-xl bg2 opacity-90" style="width:100%;padding:17%;color:white">
                    <h1 class="display-4 fb-1000"><b>Welcome Back,</b></h1>
                    <h3 style="text-transform:capitalize"><b>@User.Identity.Name</b></h3>
                </div>
            </div>
            <div class="col-4" style="display:flex;justify-content:center;align-content:center">
                <div class="shadow-xl bg2 opacity-90" style="width:100%;padding:17%;color:white">
                    <h1 class="display-4 fb-1000"><b>Total Sales</b></h1>
                    <h3><b>₹ @totalSales</b></h3>
                </div>
            </div>
            <div class="col-4" style="display:flex;justify-content:center;align-content:center">
                <div class="shadow-xl bg2 opacity-90" style="width:100%;padding:17%;color:white">
                    <h1 class="display-4 fb-1000"><b>Customers</b></h1>
                    <h3><b>@customerCount</b></h3>
                </div>
            </div>
        </div>
        <div class="row" style="
    padding: 1.5%;
    align-items: center;
    justify-content: center;
    margin-top:2%;
    ">
            <div class="row">
                <ul class="list-group col-6" style="justify-content: center;width: 751px;align-content: center;padding: 1%;">
                    <li class="list-group-item " style="background-color: #01d639c2; color: white " aria-current="true"><h4>Recently Added Products</h4></li>
                    @for (int i = productsCount - 1; i >= 0; i--)
                    {
                        <li class="list-group-item"><b>Product Name:</b> @products.ElementAt(i).ProductName</li>
                        tempProductCount++;
                        if(tempProductCount == 5)
                        {
                            break;
                        }
                    }
                </ul>
                <ul class="list-group col-6" style="width: 699px;padding: 1%;/* justify-content: center; */">
                    <li class="list-group-item " style="background-color: #01d639c2; color: white " aria-current="true"><h4>Recently Added Bills</h4></li>
                    @for (int i = 0; i < billsCount; i++)
                    {
                        <li class="list-group-item"><b>Customer Name:</b>
                            @bills.ElementAt(i).Customer.CustomerName | 
                            <span class="ml-auto"> <b>Total Cost:</b> 
                                ₹ @bills.ElementAt(i).BillTotalCost
                            </span>
                        </li>
                        tempBillCount++;
                        if (tempBillCount == 5)
                        {
                            break;
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


